body{
    background-attachment: fixed;
    background-size: cover;
    background-image: url(/assets/imagenes/fondo2.jpg);
    background-repeat: no-repeat;
}

#life {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: -5%;
    margin-left: 0%;   
    width: 170px;
}

